{% extends 'base.html' %}

{% block content %}

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Credential Audit.<span>.</span></h1>
          <h2>Find your vulnerabilities now with <strong>Nessus</strong></h2>
        </div>
      </div>

      <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="btn-group">
            <button id="myButton1">Generate Wordlist</button>
            <button id="myButton2">Check Security</button>
          </div>
        </div>
        
      </div>

    </div>
  </section>

  <script type="text/javascript">
    document.getElementById("myButton1").onclick = function () {
        location.href = "/credentialAudit/generateWordlist";
    };
  </script>

  <script type="text/javascript">
    document.getElementById("myButton2").onclick = function () {
        location.href = "/credentialAudit/checkSecurity";
    };
  </script>

{% endblock %}