{% extends 'base.html' %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Eliminate network blind spots.<span>.</span></h1>
          <h2>Find your vulnerabilities now with <strong>Nessus</strong></h2>
        </div>
      </div>

      <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="/networkScan">Network Scanner</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 ">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="/malwareScan">Malware Scan</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="/credentialAudit">Credential Patch Audit</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{request.host_url}}static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Network Scan</h3><br>
            <p>
              Scanning is typically an automated process that is used to discover devices such as PC, server and peripherals that exist on a network. Results can include details of the discovered devices, including IP addresses , device names, operating systems, running applications/services, open shares, usernames and groups. Scanning is often related to pre -attack or reconnaissance activities.
            </p><br>
            <p>
              There are two types of scanning: Horizontal Scan in which the scanner scans for the same port on multiple IPs, and Vertical Scan in which the scanner scans multiple ports on one IP.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("{{request.host_url}}static/assets/img/features.jpg");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <!-- <i class="bx bx-receipt"></i> -->
              <!-- <h3>Malware Scan</h3> -->
              <p><h3><strong>Malware scan</strong></h3></p>
              <p>
                Malware scan is the process of deep scanning the computer to prevent malware infection. It is accomplished using an anti malware software. This process involves multiple tools and techniques to identify malware.
              </p><br>
              <p>
                Anti malware software is created specifically to combat threats. These threats are called malware. Short for malicious software.Malware is software that is harmful to the computer. It intrudes the computer covertly. They are often installed through a fake download, phishing email, an infected attachment.Since malware pretends to be a decent program, many users don’t have any idea that the program they have downloaded is malware.Once installed, malware can harm the computer in different ways. It can modify the computer setting, delete valuables, and destroy computer data.Malware also gives hackers access to the computer without being exposed. By doing so, the hacker can control the computer and even use it to commit cybercrimes without the user’s knowledge. That’s how harmful malware is to the computer.<br>
              </p>
          </div>
        </div>

      </div>
    </div>
    </section><!-- End Features Section -->

    <section id="about1" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{request.host_url}}static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Credential Audit</h3>
            <p>
              Ideally, you would have more insight into vulnerabilities and potential means of exploitation in your environment than your adversaries (i.e., attackers) would. Performing credentialed scanning allows you to take a deeper look at your systems from a security standpoint than un-credentialed scanning. To give you an analogy, traditional un-credentialed scanning would be like a doctor diagnosing you over the phone. It can be generally useful, but much more information can be gathered in person since tests can be performed that will yield more accurate results and diagnoses. This enhanced understanding is what credentialed scanning brings to the table.
            </p>
            <p>
              Credentialed scanning provides more accurate scanning to better identify weak configurations, missing patches and similar vulnerabilities, which in turn further strengthens the security program (or at least provides insight on where improvements are needed). 
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="{{request.host_url}}static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Window Snyder</h3>
            <h4>Chief Security Officer, Fastly</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              One single vulnerability is all an attacker needs.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <!-- <img src="{{request.host_url}}static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt=""> -->
            <h3>Dr. Deepak Sharma</h3>
            <h4>HOD Comp, KJSCE</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <strong>The golden rule of cyber security is that there is no particular rule</strong>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{{request.host_url}}static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Narendra Modi</h3>
            <h4>Prime minister, India</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I dream of a Digital India where cyber security becomes and integral part of our national security.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{{request.host_url}}static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Robert Mueller,</h3>
            <h4>FBI Director, 2012</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              There are only two types of companies: those that have been hacked, and those that will be.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{{request.host_url}}static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>Neil Rerup</h3>
            <h4> Cyber security expert</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              True Cyber security is preparing for what's next and not what was last
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{{request.host_url}}static/assets/img/team/jatin.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Jatin Chanchlani</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{{request.host_url}}static/assets/img/team/sayali.jpeg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sayali Khot</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{{request.host_url}}static/assets/img/team/vidya1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Vidya Makwana</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <!-- <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Mumbai, India</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section> --><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}  