{% extends 'base.html' %}

{% block content %}

<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>Network Scan.<span>.</span></h1>
          <h2>Find your vulnerabilities now with <strong>Nessus</strong></h2>
        </div>
      </div>

      <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
          <form method="post">
            <label for="hostname" style="color: white;">Enter the Hostname to scan:</label><br>
            <input type="text" name="host"><br><br>
            <input type="submit" value="Scan">
          </form>
      </div>
  </div>
</section>

{% if result %}
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" id="result" data-aos="fade-up">
      <b><h2> Scan Results</h2></b>
      <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250" style="color:white;">
          {% for list in result %}
            {{list}}
            <br>
          {% endfor %}
      </div>

    </div>
  </section>
{% endif %}

<script type="text/javascript">
  window.location.hash = '{{id}}'
</script>

{% endblock %}